
/* Nav Bar */
header {
    position: static;
}

.nav_bar .logo {
    color: black;
}

.navigation .nav_items a {
    color: black;
}

/* Image */
img {
    z-index: 0  ;
}

p.card-text {
    text-align: justify;
}
